<div class="main-rav-editor">
  <div class="main-rav-editor__container">
    <h2 class="main-rav-editor__title">Revolutionary editor</h2>
    <p class="main-rav-editor__text">
      Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
      vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
    </p>
    <ul class="main-rav-editor__list">
      <li class="main-rav-editor__item">
        <a class="main-rav-editor__link" href="#">
          <svg
            class="main-rav-editor__link-svg"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
          >
            <path
              d="M 1.679 7.932 c 0.412 -0.621 1.242 -1.75 2.366 -2.717 C 5.175 4.242 6.527 3.5 8 3.5 c 1.473 0 2.824 0.742 3.955 1.715 c 1.124 0.967 1.954 2.096 2.366 2.717 a 0.119 0.119 0 0 1 0 0.136 c -0.412 0.621 -1.242 1.75 -2.366 2.717 C 10.825 11.758 9.473 12.5 8 12.5 c -1.473 0 -2.824 -0.742 -3.955 -1.715 C 2.92 9.818 2.09 8.69 1.679 8.068 a 0.119 0.119 0 0 1 0 -0.136 Z M 8 2 c -1.981 0 -3.67 0.992 -4.933 2.078 C 1.797 5.169 0.88 6.423 0.43 7.1 a 1.619 1.619 0 0 0 0 1.798 c 0.45 0.678 1.367 1.932 2.637 3.024 C 4.329 13.008 6.019 14 8 14 c 1.981 0 3.67 -0.992 4.933 -2.078 c 1.27 -1.091 2.187 -2.345 2.637 -3.023 a 1.619 1.619 0 0 0 0 -1.798 c -0.45 -0.678 -1.367 -1.932 -2.637 -3.023 C 11.671 2.992 9.981 2 8 2 Z m 0 8 a 2 2 0 1 0 0 -4 a 2 2 0 0 0 0 4 Z"
            />
          </svg>
          <span class="main-rav-editor__link-text">Watch</span>
          <span class="main-rav-editor__link-number">1,397</span>
        </a>
      </li>
      <li class="main-rav-editor__item">
        <a class="main-rav-editor__link" href="#">
          <svg
            class="main-rav-editor__link-svg"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
          >
            <path
              d="M 8 0.25 a 0.75 0.75 0 0 1 0.673 0.418 l 1.882 3.815 l 4.21 0.612 a 0.75 0.75 0 0 1 0.416 1.279 l -3.046 2.97 l 0.719 4.192 a 0.75 0.75 0 0 1 -1.088 0.791 L 8 12.347 l -3.766 1.98 a 0.75 0.75 0 0 1 -1.088 -0.79 l 0.72 -4.194 L 0.818 6.374 a 0.75 0.75 0 0 1 0.416 -1.28 l 4.21 -0.611 L 7.327 0.668 A 0.75 0.75 0 0 1 8 0.25 Z m 0 2.445 L 6.615 5.5 a 0.75 0.75 0 0 1 -0.564 0.41 l -3.097 0.45 l 2.24 2.184 a 0.75 0.75 0 0 1 0.216 0.664 l -0.528 3.084 l 2.769 -1.456 a 0.75 0.75 0 0 1 0.698 0 l 2.77 1.456 l -0.53 -3.084 a 0.75 0.75 0 0 1 0.216 -0.664 l 2.24 -2.183 l -3.096 -0.45 a 0.75 0.75 0 0 1 -0.564 -0.41 L 8 2.694 v 0.001 Z"
            />
          </svg>
          <span class="main-rav-editor__link-text">Star</span>
          <span class="main-rav-editor__link-number">21,038</span>
        </a>
      </li>
      <li class="main-rav-editor__item">
        <a class="main-rav-editor__link" href="#">
          <svg
            class="main-rav-editor__link-svg"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
          >
            <path
              d="M 5 3.25 a 0.75 0.75 0 1 1 -1.5 0 a 0.75 0.75 0 0 1 1.5 0 Z m 0 2.122 a 2.25 2.25 0 1 0 -1.5 0 v 0.878 A 2.25 2.25 0 0 0 5.75 8.5 h 1.5 v 2.128 a 2.251 2.251 0 1 0 1.5 0 V 8.5 h 1.5 a 2.25 2.25 0 0 0 2.25 -2.25 v -0.878 a 2.25 2.25 0 1 0 -1.5 0 v 0.878 a 0.75 0.75 0 0 1 -0.75 0.75 h -4.5 A 0.75 0.75 0 0 1 5 6.25 v -0.878 Z m 3.75 7.378 a 0.75 0.75 0 1 1 -1.5 0 a 0.75 0.75 0 0 1 1.5 0 Z m 3 -8.75 a 0.75 0.75 0 1 0 0 -1.5 a 0.75 0.75 0 0 0 0 1.5 Z"
            />
          </svg>
          <span class="main-rav-editor__link-text">Fork</span>
          <span class="main-rav-editor__link-number">4,391</span>
        </a>
      </li>
    </ul>
  </div>
</div>
