<section class="main-you-get">
   <div class="main-you-get__container">
      <h2 class="main-you-get__title">&ltHere is what you get&gt</h2>
      <div class="main-you-get__blocks">

         <div class="main-you-get__card">
            <div class="main-you-get__icon"> 
               <img class="main-you-get__card-img-creatred1" src="@img/icons/icon-creatred1.png" style="width: 111px;" alt="icon-creatred1">
            </div>
            <div class="main-you-get__card-desc">
               <h3 class="main-you-get__card-caption">Creatred to Make The Web Better</h3>
               <p class="main-you-get__card-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
            </div>
         </div>

         <div class="main-you-get__card">
            <div class="main-you-get__icon" >
               <img class="main-you-get__card-img-incredibly" src="@img/icons/icon-incredibly.png" style="width: 90px;" alt="icon-incredibly">
            </div>
            <div class="main-you-get__card-desc">
               <h3 class="main-you-get__card-caption">Incredibly Powerful Tool</h3>
               <p class="main-you-get__card-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
            </div>
         </div>

         <div class="main-you-get__card">
            <div class="main-you-get__icon">
               <img class="main-you-get__card-img-experimental" src="@img/icons/icon-experimental.png" style="width: 60px;" alt="icon-experimental">
            </div>
            <div class="main-you-get__card-desc">
               <h3 class="main-you-get__card-caption">Experimental Stuff</h3>
               <p class="main-you-get__card-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
            </div>
         </div>

         <div class="main-you-get__card">
            <div class="main-you-get__icon">
               <img class="main-you-get__card-img-icon-creatred2" src="@img/icons/icon-creatred2.png" style="width: 71px;" alt="icon-creatred2">
            </div>
            <div class="main-you-get__card-desc">
               <h3 class="main-you-get__card-caption">Creatred to Make The Web Better</h3>
               <p class="main-you-get__card-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
            </div>
         </div>

      </div>
   </div>
   <div class="main-you-get__img">
      <!-- <img src="@img/what-you-get.png" alt="what-you-get-img"> -->
   </div>
</section>