<section class="main-pricing">
  <div class="main-pricing__container">
    <h2 class="main-pricing__caption">Fork Subscription Pricing</h2>
    <div class="main-pricing__cards">
      <div class="main-pricing__card">
        <div class="main-pricing__up-block">
          <h3 class="main-pricing__title">students</h3>
        </div>
        <div class="main-pricing__price"><span class="main-pricing__price-dollar">$</span>29</div>
        <p class="main-pricing__text-per">per month</p>
        <div class="main-pricing__line"></div>
        <p class="main-pricing__text-license main-pricing__text-license-students">Personal License</p>
        <div class="main-pricing__btn-purchase">purchase</div>
      </div>
      <div class="main-pricing__card">
        <div class="main-pricing__up-block">
          <h3 class="main-pricing__title">professional</h3>
        </div>
        <div class="main-pricing__price"><span class="main-pricing__price-dollar">$</span>59</div>
        <p class="main-pricing__text-per">per month</p>
        <div class="main-pricing__line"></div>
        <p class="main-pricing__text-license main-pricing__text-license-professional main-pricing__text-license-height">Professional License<br>Email Support</p>
        <div class="main-pricing__btn-purchase">purchase</div>
      </div>
      <div class="main-pricing__card main-pricing__card-active">
        <div class="main-pricing__up-block main-pricing__up-block-active">
          <h3 class="main-pricing__title main-pricing__title-active">agency</h3>
        </div>
        <div class="main-pricing__price main-pricing__price-active"><span class="main-pricing__price-dollar">$</span>99</div>
        <p class="main-pricing__text-per main-pricing__text-per-active">per month</p>
        <div class="main-pricing__line main-pricing__line-active"></div>
        <p class="main-pricing__text-license main-pricing__text-license-active main-pricing__text-license-height">1-12 Team Members<br>Phone Support</p>
        <div class="main-pricing__btn-purchase">purchase</div>
      </div>
      <div class="main-pricing__card">
        <div class="main-pricing__up-block">
          <h3 class="main-pricing__title">enterprise</h3>
        </div>
        <div class="main-pricing__price"><span class="main-pricing__price-dollar">$</span>159</div>
        <p class="main-pricing__text-per">per month</p>
        <div class="main-pricing__line"></div>
        <p class="main-pricing__text-license main-pricing__text-license-enterprise main-pricing__text-license-height">Unlimited Team Members<br>i24/7 Phone Support</p>
        <div class="main-pricing__btn-purchase">purchase</div>
      </div>
    </div>
  </div>
</section>
