<section class="main-about-fk">
   <div class="main-about-fk__container container">
      <h2 class="main-about-fk__title">People Are Talking About Fork</h2>
      <div class="main-about-fk__cards">
         <div class="main-about-fk__card">
            <img class="main-about-fk__card-img" style='' src="@img/logo/logo5.png" alt="brand logo">
            <div class="main-about-fk__card-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</div>
         </div>
         <div class="main-about-fk__card">
            <img class="main-about-fk__card-img" src="@img/logo/logo6.png" alt="brand logo">
            <div class="main-about-fk__card-text">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</div>
         </div>
         <div class="main-about-fk__card">
            <img class="main-about-fk__card-img" src="@img/logo/logo7.png" alt="brand logo">
            <div class="main-about-fk__card-text">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.</div>
         </div>
         <div class="main-about-fk__card">
            <img class="main-about-fk__card-img" src="@img/logo/logo8.png" alt="brand logo">
            <div class="main-about-fk__card-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</div>
         </div>
         <div class="main-about-fk__card">
            <img class="main-about-fk__card-img" src="@img/logo/logo0.png" alt="brand logo">
            <div class="main-about-fk__card-text">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus.</div>
         </div>
         <div class="main-about-fk__card">
            <img class="main-about-fk__card-img" src="@img/logo/logo123.png" alt="brand logo">
            <div class="main-about-fk__card-text">Fusce pharetra erat id odio blandit, <br>nec<br> pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</div>
         </div>
      </div>
      <div class="main-about-fk__subtext">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
      <hr class="main-about-fk__line">
   </div>
</section>