.main-you-get {
  &__container {
    margin: 0 auto;
    padding: 0 25px;
  }
  &__title {
    color: $wyg-title-color;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding-top: 32px;
    margin-bottom: 36px;
    text-align: center;
  }
  &__blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-bottom: 58px;
  }
  &__card-caption {
    color: $wyg-fork-blocks-caption-color;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 14px;
    padding-top: 27px;
  }
  &__card-text {
    color: $wyg-fork-blocks-text-color;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  &__img {
    background: url("@img/what-you-get.png") no-repeat;
    background-size: 517px;
    height: 381px;
    padding-left: 3px;
    margin-bottom: 6px;
  }
}

@media (min-width: $middle-min-width-point) {
  .main-you-get {
    &__container {
      padding: 0 35px 0 30px;
    }
    &__title {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 52px;
      padding-top: 62px;
    }
    &__blocks {
      margin-bottom: 76px;
      gap: 60px;
    }
    &__card-caption {
      line-height: 21px;
      margin-bottom: 0;
      padding-top: 0;
    }
    &__card-text {
      font-family: 'Montserrat';
    }
    &__card {
      display: flex;
    }
    &__icon {
      display: flex;;
      justify-content: center;
      align-items: center;
    }
    &__card-img-creatred1 {
      margin-right: 23px;
    }
    &__card-img-incredibly {
      margin-left: 1px;
      margin-right: 43px;
    }
    &__card-img-experimental {
      margin-left: 16px;
      margin-right: 58px;
    }
    &__card-img-icon-creatred2 {
      margin-left: 11px;
      margin-right: 52px;
    }
    &__card-desc {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__img {
      margin-left: 68px;
      background-size: 700px;
      height: 519px;
      padding-left: 0px;
      margin-bottom: 0px;
    }
  }
}

@media (min-width: 768px) {
  .main-you-get {
    &__img {
      background-position: right;
    }
  }
}

@media (min-width: $large-min-width-point) {
  .main-you-get {
    background-color: #F4F4F4;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 49px;
    overflow-x: hidden;
  }
  .main-you-get {
    &__container {
      padding: 0 0 0 90px;
      margin: 0 0;
      position: relative;
    }
    &__title {
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 0px;
      padding-top: 0px;
      position: absolute;
      right: -653px;
      top: 94px
    }
    &__blocks {
      margin-top: 98px;
      margin-bottom: 0;
      gap: 32px;
    }
    &__card:first-child {
      padding-bottom: 15px;;
    }
    &__card-desc {
      width: 406px;
    }
    &__card-caption {
      margin-bottom: 16px;
    }
    &__img {
      width: 700px;
      margin-left: 0;
      margin-top: 159px;
      margin-bottom: 33px;
      background-position: left;
    }
  }
}