.main-pricing {
  background-color: $prc-pricing-bg;
  color: $prc-pricing-color-text;
  &__container {
    margin: 0 auto;
  }
  &__caption {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    padding-top: 4px;
    margin-bottom: 28px;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    padding-bottom: 12px;
  }
  &__card {
    background: rgba(255,255,255,0.11);
    width: 257px;
    height: 457px;
  }
  &__up-block {
    background: rgba(255,255,255,0.06);
  }
  &__title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding: 36px 0 36px;
  }
  &__price {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;
    padding: 30px 0 20px;
  }
  &__price-dollar {
    font-weight: 400;
  }
  &__text-per {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 38px;
  }
  &__line {
    width: 60px;
    height: 5px;
    background: #8D81AC;
    margin: 0px auto;
  }
  &__text-license {
    padding-top: 28px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 32px;
  }
  &__text-license-height {
    line-height: 28px;
    margin-bottom: 26px;
  }
  &__btn-purchase {
    width: 163px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    padding: 15px 37px;
    background: rgba(255,255,255,0.15);
    border-radius: 40px;
    cursor: pointer;
  }
  &__card-active {
    width: 299px;
    height: 560px;
    background: rgba(70, 48, 72, 0.84);
  }
  &__up-block-active {
    background: rgba(0, 0, 0, 0.11);
  }
  &__price-active {
    font-size: 82px;
    line-height: 84px;
    padding-top: 14px;
  }
  &__text-per-active {
    padding-bottom: 46px;
  }
  &__line-active {
    margin-bottom: 40px;
  }
  &__text-license-active {
    padding-top: 0;
    line-height: 32px;
    margin-bottom: 83px;
  }
}

@media (min-width: $middle-min-width-point) {
  .main-pricing {
    background-image: url("@img/main-pricing-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__caption {
      font-size: 42px;
      line-height: 44px;
      padding-top: 90px;
      margin-bottom: 39px;
    }
    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 94px;
      gap: 30px 25px;
    }
    &__card {
      max-width: 45%;
    }
    &__text-license-height {
      line-height: 18px;
    }
    &__text-license-students {
      margin-bottom: 62px;
    }
    &__text-license-professional {
      padding-top: 32px;
      margin-bottom: 39px;
    }
    &__up-block-active {
      height: 111px;
    }
    &__title-active {
      padding: 43px 0;
    }
    &__line-active {
      margin-bottom: 42px;
    }
    &__text-license-active {
      margin-bottom: 95px;
    }
    &__text-license-enterprise {
      padding-top: 32px;
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 856px) {
  .main-pricing {
    &__container {
      padding: 0 79px;   
    }
  }
}

@media (min-width: $large-min-width-point) {
  .main-pricing {
    background-image: url("@img/main-pricing-bg-1200.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
      padding: 0 15px;
    }
    &__caption {
      font-size: 48px;
      line-height: 50px;
      padding-top: 114px;
      margin-bottom: 61px;
    }
    &__cards {
      flex-wrap: nowrap;
      padding-bottom: 73px;
      column-gap: 15px;
    }
    &__card-active {
      margin-left: 0px;
    }
  }
}