.main-rav-editor {
  &__container {
    margin: 0 auto;
    padding: 0 25px;
  }
  &__title {
    text-transform: uppercase;
    color: $edtr-title-color;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    padding-top: 74px;
    margin-bottom: 27px;
  }
  &__text {
    color: $edtr-text-color;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 36px;
  }
  &__list {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    gap: 20px 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 88px;
  }
  &__link {
    color: $edtr-link-color;
    display: flex;
    align-items: center;
    background-color: #f6f8fa;
    border: 1px solid #d5d8da;
    border-radius: 6px;
    padding: 3px 10px;
  }
  &__link-svg {
    height: 16px;
    width: 16px;
    filter: brightness(0) saturate(100%) invert(35%) sepia(18%) saturate(323%)
      hue-rotate(171deg) brightness(98%) contrast(88%);
  }
  &__link-text {
    margin-left: 8px;
  }
  &__link-number {
    background-color: rgba(27, 31, 36, 0.08);
    padding: 0 6px;
    border-radius: 10px;
    margin-left: 4px;
  }
}

@media (min-width: $middle-min-width-point) {
  .main-rav-editor {
    &__container {
      padding: 0 40px;
    }
    &__title {
      font-size: 42px;
      line-height: 42px;
      padding-top: 93px;
      margin-bottom: 33px;
    }
    &__text {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 44px;
    }
    &__list {
      margin-bottom: 98px;
    }
  }
}

@media (min-width: $large-min-width-point) {
  .main-rav-editor {
    &__title {
      font-size: 54px;
      line-height: 54px;
      padding-top: 56px;
      margin-bottom: 25px;
    }
    &__text {
      margin-bottom: 19px;
    }
    &__list {
      margin-bottom: 70px;
    }
  }
}
