
body{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   text-align: center;
   min-width: 320px;
}

.wrapper{

}

.container {
   margin: 0 auto;
   padding: 0 10px;
   max-width: 1220px;
}