//Загальні змінні
$middle-min-width-point: 481px;
$large-min-width-point: 993px;






//Кольори шрифтів хедеру
$hdr-nav-bg-color: #27262A;
$hdr-nav-txt-hover-color: #FFFFFF;
$hdr-nav-txt-color: #8D81AC;
$hdr-title-color: #FFFFFF;
$hdr-text-color: #8D81AC;
$hdr-subtext-color: #848E97;



//Кольори шрифтів Revolutionary editor
$edtr-title-color: #635C73;
$edtr-text-color: #323232;
$edtr-link-color: #24292F;





//Кольори шрифтів Here is what you get
$wyg-title-color: #8D81AC;
$wyg-fork-blocks-caption-color: #323232;
$wyg-fork-blocks-text-color: #848E97;





//Кольори шрифтів People Are Talking About Fork
$abt-fork-title-color: #FFFFFF;
$abt-fork-cards-text-color: #FFFFFF;
$abt-fork-subtext-color: #A291A5;





//Кольори шрифтів Fork Subscription Pricing
$prc-pricing-color-text: #FFFFFF;
$prc-pricing-bg: #4a394e;





